---
import Counter from '../components/Counter';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <title>Astro Counter</title>
  </head>
  <body>
    <main>
      <h1>Astro Counter</h1>
      <Counter client:load />
    </main>
  </body>
</html>